#root {
  max-width: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height:100%;

  color:#D7DADC;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.blocks-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}

.block {
  display: flex; /* fixed width */
  height: 60px;
  background: #444654;
  color: #D7DADC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.2s;
  margin:8px;
}

.block:hover {
  background: #4F535F;
  color: #D7DADC;
}

.block-value {
  font-size: 1.2rem;
  font-weight: bold;
}

.block-label {
  font-size: 14px;
  color: #B2B6BC;
  margin-bottom: 8px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #444654;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.button-row {
  display:flex;
  gap: 12px;
}

.popupField{
  width:100%
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

